<footer class="footer-area section_gap">
    <div class="container text-center">
        <div class="row d-flex justify-content-between">
            <p class="col-lg-12 col-sm-12 footer-text m-0 text-white">

                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                <strong><span>Frankfurt University of Applied Sciences</span></strong>. All Rights Reserved
            </p>
            <!-- <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div> -->
        </div>
    </div>
</footer>