<div class="card mb-3">
    <div class="card-header-tab card-header">
    <div
        class="card-header-title font-size-lg text-capitalize font-weight-normal"
    >
       Firms
    </div>
    <div class="btn-actions-pane-right actions-icon-btn">
        <div class="btn-group dropdown">
            <a routerLink="/add-firm">
                <button
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="btn btn-primary" style="padding: 0.61rem 1rem;border-radius: 8px;"
                >
                +
                </button>
            </a>   
        <div
            tabindex="-1"
            role="menu"
            aria-hidden="true"
            class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu"
        >
            <h6 tabindex="-1" class="dropdown-header">Header</h6>
            <button
            type="button"
            tabindex="0"
            class="dropdown-item"
            >
            <i class="dropdown-icon lnr-inbox"> </i
            ><span>Menus</span>
            </button>
            <button
            type="button"
            tabindex="0"
            class="dropdown-item"
            >
            <i class="dropdown-icon lnr-file-empty"> </i
            ><span>Settings</span>
            </button>
            <button
            type="button"
            tabindex="0"
            class="dropdown-item"
            >
            <i class="dropdown-icon lnr-book"> </i
            ><span>Actions</span>
            </button>
            <div tabindex="-1" class="dropdown-divider"></div>
            <div class="p-3 text-right">
            <button class="mr-2 btn-shadow btn-sm btn btn-link">
                View Details
            </button>
            <button
                class="mr-2 btn-shadow btn-sm btn btn-primary"
            >
                Action
            </button>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="card-body">
    <table
        style="width: 100%"
        id="example"
        class="table table-hover table-striped table-bordered"
    >
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Nace_lev2_id</th>
            <th>Nace_lev1_desc</th>
            <th>Company url</th>
            <th>Logo link</th>
            <th>Company description</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of firms">
                <td>{{ item.company_id }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.nace_lev2_id }}</td>
                <td>{{ item.nace_lev1_desc }}</td>
                <td>{{ item.company_url }}</td>
                <td>{{ item.logo_link }}</td>
                <td>{{ item.company_description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>