
<!-- <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
  <li class="nav-item">
    <a role="tab" class="nav-link active" href="index.html">
      <span>Variation 1</span>
    </a>
  </li>
</ul> -->
<div class="tabs-animation">
  <div class="row">
    <div class="col-md-6 col-xl-3">
      <div
        class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success"
      >
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <small class="opacity-5"></small>
                    <span>87</span>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5">Sectors</h6>
          </div>
          <div
            class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row"
          >
            <div class="col-md-9">
              <div id="dashboard-sparklines-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div
        class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-primary border-primary"
      >
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <small class="opacity-5"></small>
                    <span>90</span>
                  </div>
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5">Firms</h6>
          </div>
          <div
            class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row"
          >
            <div class="col-md-9">
              <div id="dashboard-sparklines-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
