<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center mt-5">
                        <!-- <p class="text-uppercase">
                            Best online education service In the world
                        </p>
                        <h2 class="text-uppercase mt-4 mb-5">
                            One Step Ahead This Season
                        </h2> -->
                        <div class="d-gride-res">
                            <a (click)="scrollToElement('firms')" class="primary-btn mb-3 mb-sm-0">Firms</a>
                            <a (click)="scrollToElement('dashboard')" class="primary-btn2 ml-sm-3 ml-0">Dashboards</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_details_area section_gap bg-blues-new">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 course_details_left">
                <div class="content_wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="main_title mb-5">
                                <h2 class="mb-3">Sustainability Monitor</h2>
                            </div>
                        </div>
                    </div>
                    <div class="content text-center">
                        Sustainability Monitor provides a public repository for corporate sustainability reports and
                        annual financial reports
                        with information about firms’ environmental, social, and governance (ESG) impact for a broad
                        span of firms and years.
                        <br>
                        <br>
                        Because data about firms’ ESG impact can be spread across different formats, such as text,
                        images, or tables, obtaining
                        and analyzing these data is typically not a straightforward task. We rely on state-of-the-art
                        machine learning and
                        artificial intelligence methods to extract quantitative and qualitative data from sustainability
                        reports. Based on these
                        data, we provide interactive dashboards that enable interested stakeholders visualize selected
                        ESG performance
                        indicators, comparing across industries, firms, and years.
                        <br>
                        <br>
                        This portal is part of an academic project at the Engineering and Informatics department of the
                        <a target="_blank" href="https://www.frankfurt-university.de/en/">Frankfurt University of
                            Applied Sciences</a>.
                        Our vision is to
                        increase transparency for consumers, investors, firms, and policy makers about firms’ ESG goals
                        and performance.
                        <br>
                        <br>
                        Who is behind this initiative? Go to <a [routerLink]="['/about-us']">about us</a> to learn more
                        about our project
                        and the involved team.
                        <br>
                        <br>
                        We welcome support from the community and interested stakeholders to continue developing this
                        portal and improve
                        sustainability data access for informed decision making and research. Would you like to support
                        our project? Please
                        <a [routerLink]="['/contact-us']">contact us</a> using our contact form or write us at
                        <!-- <a target="_blank"
                            href="mailto: info@sustainabilitymonitor.org">info@sustainabilitymonitor.org</a>. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 course_details_left">
                <div class="content_wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="main_title mb-4">
                                <h2 class="mb-4">What are Sustainability Reports?</h2>
                            </div>
                        </div>
                    </div>
                    <blockquote class="content generic-blockquote bg-blues-new"><br>
                        Sustainability reports are documents in which firms disclose information about their
                        environmental and social impact, as well as on aspects related to their corporate governance.
                        The most common format is PDF files, but sustainability reports may also exist in form of tables
                        or presentation slides. They are typically published once a year or every two years. <br><br>
                        Not all firms publish sustainability
                        reports. Some prefer to integrate this information in a specific section of their annual
                        financial reports, while others disclose little to no information, as sustainability reporting
                        is still voluntary for many firms. <br><br> Firms
                        can use different reporting frameworks or a combination of them, such as the framework from the
                        <a target="_blank" href="https://www.globalreporting.org/">Global Reporting Initiative</a>
                        (GRI), the <a target="_blank" href="https://www.sasb.org/">Accounting Standards Board</a>
                        (SASB), the <a target="_blank" href="https://www.fsb-tcfd.org/">Task Force on
                            Climate-Related Financial Disclosures</a> (TCFD), or the <a target="_blank"
                            href="https://www.unpri.org/">Nations Principles for Responsible Investment</a> (PRI) for
                        the financial services sector. Therefore, comparing the disclosures across different companies
                        and sectors is still very challenging.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_details_area section_gap bg-blues-new">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 course_details_left">
                <div class="content_wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="main_title">
                                <h2 class="mb-3">Environmental, Social, and Governance Indicators</h2>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h3><b>Environmental</b></h3><br> In the environmental
                        area, firms may communicate to their stakeholders their current greenhouse gas emissions, water,
                        and energy consumption levels, as well as their medium and long-term goals to reduce their
                        environmental footprint. When measuring their greenhouse gas emissions, firms may consider three
                        different dimensions: <br><br>
                        <div class="col-lg-12 col-sm-12 mt-sm-30 typo-sec">
                            <div>
                                <ul class="unordered-list">
                                    <li><b>Scope 1</b> emissions: Emissions
                                        produced by the firms’ own facilities and activities, for example, their
                                        factories or vehicles.</li>
                                    <li><b>Scope 2</b> emissions: Emissions
                                        related to generating the energy the firms consume to execute their activities.
                                    </li>
                                    <li><b>Scope 3</b> emissions: Emissions
                                        related to upstream or downstream activities by other parties in the value
                                        chain, for example, firms’ suppliers and distributors, or how the sold products
                                        are used. Most companies report on scope 1 emissions but reporting on scope 2
                                        and 3 emissions are progressively more challenging, due to the lack of available
                                        data and methodological difficulties in attributing emissions along the value
                                        chain. Social</li>
                                </ul>
                            </div>
                        </div><br> When discussing their social impact, firms may report on
                        several indicators and activities that aim at creating a positive impact on their employees,
                        customers, supply chains, and the communities where they act. These may include indicators and
                        qualitative data about their workforce diversity, employee turnover, or on their investments to
                        develop local communities. Governance <br><br> In
                        the governance area, firms can report on a broad range of internal and external activities, such
                        as their board composition, compliance programs, donations, political contributions, or their
                        share of business in locations with a high corruption index. This portion of the reports
                        typically contains more qualitative data and less indicators that allow stakeholders to quantify
                        firms’ impact and risks.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 course_details_left">
                <div class="content_wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main_title mb-3">
                                <h2 class="mb-3">Sustainability, Reporting, Directives in the
                                    European Union</h2>
                            </div>
                        </div>
                    </div>
                    <div class="content"><br><br> In the European Union (EU), since the passing of the <a
                            target="_blank"
                            href="https://ec.europa.eu/info/business-economy-euro/company-reporting-and-auditing/company-reporting/corporate-sustainability-reporting_en">Non-Financial
                            Reporting Directive</a> (NFRD) in 2014, large public-interest firms with more than 500
                        employees need to report on certain ESG indicators since 2017. This directive was followed by
                        additional guidelines for the <a target="_blank"
                            href="https://ec.europa.eu/info/publications/non-financial-reporting-guidelines_en">disclosure
                            of environmental and social information</a> in 2017, and complemented with the guidelines
                        for <a target="_blank"
                            href="https://ec.europa.eu/commission/presscorner/detail/en/IP_19_3034">climate-related
                            reporting</a> in 2019 and applied to approximately 11,000 firms. However,
                        sustainability reports are mostly
                        still voluntary and hard to compare, as there are many (non-binding) standards available.
                        Therefore, most companies may currently decide whether, what and how to report on their ESG
                        impact. The reported information is rarely validated by an independent third-party. <br><br> In
                        an effort to expand the scope and
                        increase the comparability of sustainability reports, the European Commission recently adopted a
                        package of measures towards a binding classification system, or taxonomy. These include the
                        Corporate Sustainability Reporting Directive (CSRD), passed in 2021. This directive applies to
                        all publicly listed companies, including small and medium enterprises (SME), which amount to
                        approximately 50.000 firms. Non-European firms with at least one subsidiary or branch in the EU
                        and a local net turnover of €150 million are also subject to this directive. <br><br> The CSRD
                        establishes mandatory ESG
                        reporting standards and requires that the reported information is audited, which is an important
                        step towards the reliability and accuracy of the ESG indicators. It applies in January 2024
                        (reporting year 2023) for firms already subject to the NFRD, extends to large companies not
                        currently covered by the NFRD in 2025 and to publicly listed SMEs in 2026. <br><br> The CSRD is
                        complemented by the Sustainable
                        Finance Disclosure Regulation (SFDR), which applies to the financial services sector and is
                        binding in January 2023. The German Federal Financial Supervisory Authority (BaFin) is also
                        working on a Guideline for Sustainable Funds, which is expected to provide directives for ESG
                        investment funds. The public consultation started in 2021 but the ensuing works have been
                        recently put on hold. Other global efforts
                        to simplify ESG reporting include the consolidation of the <a target="_blank"
                            href="https://www.integratedreporting.org/">International Integrated Reporting Council</a>
                        (IIRC) and the SASB into the <a target="_blank"
                            href="https://www.valuereportingfoundation.org/">Value Reporting
                            Foundation</a> (VRF) in
                        2021. The VRF was further consolidated with the <a target="_blank"
                            href="https://www.cdsb.net/">Carbon
                            Disclosure Standards Board</a> (CDSB) to establish the
                        <a target="_blank"
                            href="https://www.ifrs.org/groups/international-sustainability-standards-board/">International
                            Sustainability Standards Board</a> (ISSB) in 2022. Its proposed standards also build upon
                        recommendations from the TCFD.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>