
{{#extend "layout"}}
  {{#content "body"}}

    <center>
        <table style="width: 680px !important;" width="500">
            <tbody>
            <tr>
                <td>
                <table
                    border="0"
                    style="
                    width: 100%;
                    border: solid 1px #fff;
                    padding: 10px 30px 30px 30px;
                    "
                >
                    <tbody>
                    <tr>
                        <td style="    width: 63%;
    font-size: 36px;
    line-height: 10px;
    font-weight: bold;
    color: rgb(0,35,71);
    font-family: Rubik,sans-serif;" align="center">
                            <h5 class="mb-3">Sustainability Monitor</h5>
                        </td>
                    </tr>
                    <tr></tr>

                    <tr>
                        <td style="text-align: left;">
                        <p id="FirstName">Dear {{name}}!</p>
                        <p style="line-height: 1.5;">
                            Thank you for your email. We are happy to help you with your request regarding [{{userSubject}}] and will contact you as soon as possible via email. Thank your for your patience.
							<br />
                            <br>
                            Have a nice day,
                        </p>
                       
                        <p style="    text-align: left;">
                            ESG | SustainabilityMonitor
                        </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 32px;">
                        <p
                            style="
                            padding-bottom: 1px;
                            border: 0px solid green;
                            background: green;
                            margin-top: 10px;
                            height: 1px;
                            "
                        ></p>
                        </td>
                    </tr>
                    <tr class="text-center" style="background: #038d00;     text-align: center;">
                        <img src="https://sustainabilitymonitor.org/assets/img/logo.png" height="100px" alt="">
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>
            </tbody>
        </table>
    </center>

  {{/content}}
{{/extend}}
	
        

        