
<div class="content-container">
    <div class="card">
      <h3>All Listed Firms</h3>
      <div class="card-header">
        <a class="btn btn-success" routerLink="createinvoice">Create New [+]</a>
      </div>
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="company_id">
            <th mat-header-cell *matHeaderCellDef>company_id </th>
            <td mat-cell *matCellDef="let element"> {{element.company_id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef> company_name </th>
            <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="company_alias">
            <th mat-header-cell *matHeaderCellDef> company_alias </th>
            <td mat-cell *matCellDef="let element"> {{element.company_alias}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nace_lev2_id">
            <th mat-header-cell *matHeaderCellDef> nace_lev2_id </th>
            <td mat-cell *matCellDef="let element"> {{element.nace_lev2_id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nace_lev1_desc">
            <th mat-header-cell *matHeaderCellDef> nace_lev1_desc </th>
            <td mat-cell *matCellDef="let element"> {{element.nace_lev1_desc}} </td>
          </ng-container>
      
          <ng-container matColumnDef="company_url">
            <th mat-header-cell *matHeaderCellDef> company_url </th>
            <td mat-cell *matCellDef="let element"> {{element.company_url}} </td>
          </ng-container>
      
          <ng-container matColumnDef="sustainability_url">
            <th mat-header-cell *matHeaderCellDef> sustainability_url </th>
            <td mat-cell *matCellDef="let element"> {{element.sustainability_url}} </td>
          </ng-container>
      
          <ng-container matColumnDef="logo_link">
            <th mat-header-cell *matHeaderCellDef> logo_link </th>
            <td mat-cell *matCellDef="let element"> {{element.logo_link}} </td>
          </ng-container>
      
          <ng-container matColumnDef="company_description">
            <th mat-header-cell *matHeaderCellDef> company_description </th>
            <td mat-cell *matCellDef="let element"> {{element.company_description}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20,40,60,90]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
      </mat-paginator>
      </div>
    </div>
  </div>
