<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section_gap">

    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">FAQ</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4">

            <div class="col-lg-12 col-md-12">

                <div class="accordion">
                    <!-- First Panel -->
                    <input type="checkbox" id="panel4" name="accordion" hidden />
                    <div class="expansion-panel">
                        <label for="panel4" class="expansion-panel-header">
                            <h4><img src="/assets/img/question.png" class="h4img">Why are ESG aspects important to firms?</h4>
                        </label>
                        <div class="expansion-panel-content">
                            <span><br>
                                ESG (Environmental, Social, and Governance) aspects have become increasingly important for consumers and investors. Firms need to think not only of stakeholders who value their financial performance but also of those who want to understand their positive and negative contributions to sustainability. Policymakers worldwide are also reacting and requiring firms to disclose information about their ESG performance. As a result, understanding and improving their ESG footprint became a priority for many firms. Building a sustainable business helps firms to create long-term value for their stakeholders. <br></span>
                        </div>
                    </div>
                    <!-- Second Panel -->
                    <input type="checkbox" id="panel5" name="accordion" hidden />
                    <div class="expansion-panel">
                        <label for="panel5" class="expansion-panel-header">
                            <h4><img src="/assets/img/question.png" class="h4img">How does environmental, social, and corporate governance influence risk management?</h4>
                        </label>
                        <div class="expansion-panel-content">
                            <span><br>
                                A sound risk management plan is structured and must cover relevant processes and risk sources that are both internal and external to the organization. Many economic, environmental, geopolitical, technological, and social forces create risks that can affect firm's performance. Proactively identifying and managing these risks is critical for a firm's long-term success.
                            <br>
                            </span>
                        </div>
                    </div>
                    <!-- Second Panel -->
                    <input type="checkbox" id="panel6" name="accordion" hidden />
                    <div class="expansion-panel">
                        <label for="panel6" class="expansion-panel-header">
                            <h4><img src="/assets/img/question.png" class="h4img">What are PRIs?</h4>
                        </label>
                        <div class="expansion-panel-content">
                            <span><br>
                                The United Nations Principles for Responsible Investment (PRI) is an international network of financial institutions that promotes the integration of environmental, social, and governance (ESG) aspects into investment decisions. The PRI reporting is the largest global project on responsible investment. Signatories must report annually on their responsible investment activities and follow six principles to promote a more sustainable global financial system.                            <br>
                            </span>
                        </div>
                    </div>
                    <input type="checkbox" id="panel7" name="accordion" hidden />
                    <div class="expansion-panel">
                        <label for="panel7" class="expansion-panel-header">
                            <h4><img src="/assets/img/question.png" class="h4img">Why measure Scope 1, 2, and 3 emissions?</h4>
                        </label>
                        <div class="expansion-panel-content">
                            <span><br>
                                There are several benefits associated with measuring and reporting emissions at different levels. Firms can use this information to communicate with stakeholders and identify opportunities to increase resource efficiency in their processes and supply chain. By analyzing their emissions footprint and understanding their main drivers, firms can also foster innovation, such as the development of new products, services, or business models. For many firms, Scope 3 emissions represent the most significant impact. They are, however, much more challenging to measure, as they require information about emissions along the entire value chain.<br>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>
<!-- End Contact Section -->

<!-- What is the website's mission and purpose?
What types of content can I find on the website?
How often is the website updated?
Is there a way to subscribe to receive updates from the website?
Are there opportunities to get involved or take action on sustainability issues through the website?
Does the website have a section for news or events related to sustainability?
Is there a way to contact the website's team or provide feedback?
Are there resources or tools available on the website to help me learn more about sustainability?
Is there a section of the website dedicated to a specific industry or sector (e.g. transportation, agriculture, energy)?
Does the website have a section for job opportunities in the sustainability field? -->